:root {
    --black: #000000;
    --white: #ffffff;
    --lightblue: #77a9f3;
    --darkblue: #0d3d85;
    --gray: rgb(160, 162, 165);
    --slate: rgb(42, 42, 63);
    --green: green;
    --red: rgb(235, 41, 41);
    --orange: orange;
    --yellow: yellow;
    --purple: rgb(223, 47, 223);    
}

body {
    background-color: var(--white);
    color: var(--black);
}

.title {
    color: var(--white);
    background-image: linear-gradient(-90deg,#042d69, #4176c5);
    border: 1px solid;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

/* user search input style */
#search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-label {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10px;
}

.form-input {
    border-radius: 7px;
    border: 2px solid var(--black);
    margin: 5px;
    padding: 5px;
    width: 90%;
    height: 45px;
    outline: none;
}

/* button styles for search and city search history */
.btn {
    text-align: center;
    width: 90%;
    margin: 6px;
}

.btn-search {
    color: var(--white);
    background-color: var(--lightblue);
    font-weight: bold;
}

.btn-search:hover {
    color: var(--white);
    background-color: var(--darkblue);
    font-weight: bold;
}

.btn-container {
    border-top: 2px solid var(--black);
    width: 90%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.btn-city {
    color: var(--black);
    background-color: var(--gray);
}

/* city current forcast style */
#results-container {
    text-align: left;
}

.forecast-current {
    border: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    line-height: 0.7;
}

h2 {
    margin-bottom: 0px;
}

/* uv index color styles */
#uvi {
    border-radius: 3px;
    padding: 3px 5xp;
    color: var(--white);
}

.uv-low {
    background-color: var(--green);
}

.uv-moderate {
    background-color: var(--yellow);
}

.uv-high {
    background-color: var(--orange);
}

.uv-higher {
    background-color: var(--red);
}

.uv-extreme {
    background-color: var(--purple);
}

/* 5 day forecast style */
.forecast-future {
    color: var(--white);
    background-color: var(--slate);
}